@import url(http://fonts.googleapis.com/css?family=BenchNine:400,700);

@import 'jquery.fancybox.css';
/*------ template stylization ------*/
body {
  background: #bb5e36;
  font: 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
  color: #b58f70;
  min-width: 1000px;
  min-height: 1100px;
}
#webSiteLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #bb5e36 url(../img/web_site_loader.gif) center no-repeat;
  z-index: 1023;
  top: 0;
}
#pageLoader {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  background: url(../img/page_loader_bg.jpg) 0 0 no-repeat;
  z-index: 1000;
  padding: 5px;
  display: none;
}
#pageLoader > div {
  background: url(../img/page_loader.gif) 0 0 no-repeat;
  width: 50px;
  height: 50px;
}
p {
  padding-bottom: 10px;
}
h2 {
  font: 69.96000000000001px 'BenchNine';
  line-height: 1.2em;
  text-transform: lowercase;
  color: #9b3002;
  letter-spacing: -3px;
  padding-bottom: 6px;
}
h2.special {
  text-transform: none;
  line-height: 1em;
  margin-bottom: 13px;
  letter-spacing: -4px;
}
h3,
time,
.fontStyle1 {
  font: 700 20.04px 'BenchNine';
  line-height: 20px;
  text-transform: uppercase;
  color: #ed9d44;
  margin: 0 0 14px;
}
h3 a,
time a,
.fontStyle1 a {
  display: inline-block;
  color: inherit;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
h3 a:hover,
time a:hover,
.fontStyle1 a:hover {
  text-decoration: none;
  color: #9b3002;
}
address {
  font-style: normal;
  margin-bottom: -9px;
}
/*bootstrap classes*/
.thumbnails {
  margin-bottom: 9px;
}
.thumbnails li {
  margin-left: 0;
}
.thumbnail {
  box-shadow: none;
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.thumbnail:hover {
  border-color: transparent;
  box-shadow: none !important;
}
/*end bootstrap classes*/
/*------ header ------- */
header {
  width: 100%;
  height: 253px;
  background: url(../img/decor_top.png) center bottom repeat-x;
  margin-bottom: 0px;
}
header h1 {
  position: relative;
  width: 622px;
  height: 138px;
  float: left;
  overflow: hidden;
  margin: 25px 0 0 -1px;
}
header h1 a {
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
}
/*menu*/
.select-menu {
  width: 100%;
  margin: 14px auto;
  display: none;
  color: #b58f70;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar .sf-menu .nav {
  position: absolute;
  float: none;
  margin: 0;
}
header .navbar .sf-menu .nav li {
  float: none;
}
header .navbar .sf-menu .nav li a {
  padding: 0;
  text-shadow: none;
}
header .navbar-inner {
  min-height: 68px;
  padding: 0;
  background-color: transparent;
  background-image: none;
  filter: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.sf-menu {
  position: relative;
  float: right;
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;
}
.sf-menu > li {
  position: relative;
  display: block;
  text-align: right;
  margin-bottom: -7px;
}
.sf-menu > li > a {
  position: relative;
  display: inline-block;
  font: 700 20.04px 'BenchNine';
  text-transform: uppercase;
}
.sf-menu > li > a > span {
  color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sf-menu > li > a > em {
  position: relative;
  float: left;
  background: url(../img/submenu_arrow.png) center no-repeat;
  width: 7px;
  height: 5px;
  margin: 12px 4px 0 0;
}
.sf-menu > li > a:hover,
.sf-menu > li > a.activeLink {
  text-decoration: none;
}
.sf-menu > li > a:hover > span,
.sf-menu > li > a.activeLink > span {
  color: #9b3002;
  text-decoration: none;
}
.sf-menu ul {
  position: absolute;
  list-style: none;
  z-index: 10;
  width: 137px;
  top: 23px !important;
  left: -48px !important;
  display: none;
  overflow: visible;
  background: #7d1c00;
}
.sf-menu ul li {
  position: relative;
  text-align: center;
  margin-bottom: -7px;
}
.sf-menu ul li:first-child {
  padding-top: 33px;
}
.sf-menu ul li.last {
  padding-bottom: 38px;
}
.sf-menu ul li a {
  display: inline-block;
  font: 700 20.04px 'BenchNine';
  text-transform: uppercase;
  color: #ffffff !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sf-menu ul li a.hoverItem {
  color: #f3b978 !important;
}
.sf-menu ul ul {
  left: -139px !important;
  top: -34px !important;
}
/*menu end*/
/*--- header end ------*/
/*------ content ------- */
#wrapper ul {
  list-style: none;
  margin-left: 0;
}
#wrapper label {
  display: block;
}
#wrapper input,
#wrapper textarea {
  position: relative;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  padding: 5px 10px;
  line-height: 21px;
  color: #b58f70;
  background: #fbeed5;
}
#wrapper input:focus,
#wrapper textarea:focus {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
#wrapper input {
  width: 263px;
  height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper > div {
  position: relative;
  overflow: hidden;
}
#wrapper > section {
  position: relative;
  height: 100%;
}
#wrapper > section > div {
  position: relative;
}
.dynamicContent {
  position: absolute;
  width: 100%;
}
.inner {
  background-color: #ffffff;
  padding: 25px 0;
}
.inner > div {
  padding-bottom: 0px;
}
.splash {
  position: absolute !important;
  top: 253px;
  left: 50%;
  margin-left: -1425px;
  z-index: 0;
}
.splash .carouselHolder {
  position: relative;
}
.splash .carouselHolder .carousel {
  margin-bottom: 0;
}
.splash .carouselHolder .carousel ul {
  margin-bottom: 0;
}
.splash .carouselHolder .carousel ul li {
  width: 950px;
  height: 654px;
}
.splash .carouselHolder .nextBtn,
.splash .carouselHolder .prevBtn {
  position: absolute;
  top: 279px;
  width: 120px;
  height: 110px;
  z-index: 100;
}
.splash .carouselHolder .nextBtn span,
.splash .carouselHolder .prevBtn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.splash .carouselHolder .nextBtn:hover > span,
.splash .carouselHolder .prevBtn:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}
.splash .carouselHolder .nextBtn {
  left: 897px;
  background: url(../img/arrowL.png) center top no-repeat;
}
.splash .carouselHolder .nextBtn span {
  background: url(../img/arrowL.png) center bottom no-repeat;
}
.splash .carouselHolder .prevBtn {
  left: 1838px;
  background: url(../img/arrowR.png) center top no-repeat;
}
.splash .carouselHolder .prevBtn span {
  background: url(../img/arrowR.png) center bottom no-repeat;
}
.splash .carouselHolder .shadowLeft,
.splash .carouselHolder .shadowRight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 199px;
  height: 654px;
  background: url(../img/shadowL.png) center no-repeat;
}
.splash .carouselHolder .shadowLeft {
  left: 751px;
}
.splash .carouselHolder .shadowRight {
  left: 1884px;
  width: 230px;
  background: url(../img/shadowR.png) center no-repeat;
}
.btn.btn-link {
  position: relative;
  display: inline-block;
  font: 700 20.04px 'BenchNine';
  line-height: 20px;
  text-transform: uppercase;
  color: #ed9d44;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn.btn-link:hover,
.btn.btn-link:active {
  color: #9b3002;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}
.btn {
  position: relative;
  display: inline-block;
  font: 700 20.04px 'BenchNine';
  line-height: 1em;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #9b3002;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 8px 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover,
.btn:active {
  color: #9b3002;
  background: #fbeed5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}
hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #f2dcc8;
  margin: 10px 0;
}
.list1 {
  margin: 0;
}
.list1 dt time {
  margin-bottom: 5px;
}
.list1 dd {
  margin-left: 0;
  padding-bottom: 25px;
}
.list1 dd.last {
  padding-bottom: 0;
}
.list2 li {
  width: 270px;
  margin: 0 30px 25px 0;
  float: left;
}
.list2 li.right {
  margin-right: 0;
}
.list2 li > a {
  position: relative;
  display: block;
  width: 270px;
  height: 158px;
  margin-bottom: 16px;
}
.list2 li > a > img {
  position: relative;
}
.list2 li > a:hover .sitem_over {
  opacity: 1;
  filter: alpha(opacity=100);
}
.list2 li h3 {
  margin-bottom: 4px;
}
.list2 li p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sitem_over {
  position: absolute;
  background: url('../img/pic_bg_over.png');
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sitem_over > strong {
  position: relative;
  background: url('../img/icon_zoom.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.wishesList {
  width: 100%;
  height: 241px;
  overflow: hidden;
}
.wishesList .wishes {
  margin: 9px 0 0;
  width: 100%;
  height: 241px;
  overflow: hidden;
}
.wishesList .wishes li {
  margin-bottom: 9px;
}
.wishesList .wishes li h3,
.wishesList .wishes li time {
  margin-bottom: 6px;
}
.wishesList .wishes li time + h3 {
  margin-top: -2px;
}
.paginationHolder {
  text-align: center;
}
.paginationHolder .pagination {
  display: inline-block;
  margin: 19px 0 37px;
}
.paginationHolder .pagination li {
  display: inline-block;
  margin: 0 1px;
}
.paginationHolder .pagination li a {
  font: 700 20.04px 'BenchNine';
  line-height: 20px;
  text-transform: uppercase;
  color: #ed9d44;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.paginationHolder .pagination li a:hover,
.paginationHolder .pagination li.active > a {
  text-decoration: none;
  color: #9b3002;
}
.match {
  display: block;
  color: #eea450;
}
.search_list .search {
  width: auto;
  color: #9b3002;
}
.search_title a {
  text-decoration: underline;
}
.search_title:hover {
  text-decoration: none;
}
.g_map {
  margin: 0 0 21px;
}
iframe {
  display: inline-block;
  outline: none;
  width: 390px;
  height: 284px;
  position: relative;
  border: none;
  background: url(../img/web_site_loader.gif) center no-repeat #bb5e36 !important;
}
/*scroll*/
.outside {
  position: relative;
  margin-bottom: 16px;
}
.outside .scroll {
  width: 100%;
  height: 194px;
  overflow: hidden;
  float: left;
  margin: 0 0 36px;
}
.outside .scroll > div {
  padding-right: 35px;
}
.outside ._track {
  width: 13px;
  height: 194px;
  right: 1px;
  top: 2px;
  padding: 0;
  background: #fbeed5;
}
.outside ._shuttle {
  cursor: pointer !important;
  width: 13px;
  height: 43px;
  background-color: #dd8f4c;
  background-image: -moz-linear-gradient(top, #f1ab57, #bf653b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1ab57), to(#bf653b));
  background-image: -webkit-linear-gradient(top, #f1ab57, #bf653b);
  background-image: -o-linear-gradient(top, #f1ab57, #bf653b);
  background-image: linear-gradient(to bottom, #f1ab57, #bf653b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1ab57', endColorstr='#ffbf653b', GradientType=0);
  background-size: 100% 100%;
  -webkit-transition: background-size 0.5s ease;
  -moz-transition: background-size 0.5s ease;
  -o-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
}
.outside ._shuttle:hover {
  background-size: 100% 200%;
}
/*end scroll*/
#search {
  position: relative;
  display: inline-block;
  margin: 2px 0 0 0;
  width: 100%;
  z-index: 500;
}
#search > input {
  padding: 8px 14px;
  width: 188px;
  height: 36px;
}
#search #searchButton {
  display: block;
  float: right;
}
/* Forms*/
#form1 {
  position: relative;
  margin: 10px 0 3px;
}
#form1 input,
#form1 textarea,
#form1 .success {
  position: relative;
  display: block;
  outline: none;
  padding: 8px 14px;
}
#form1 input {
  width: 270px;
  height: 36px;
}
#form1 .success {
  position: absolute;
  padding: 44px 10px;
  z-index: 10;
  text-align: center;
  width: 250px;
  background: #fbeed5;
  border: none;
}
#form1 textarea {
  width: 362px;
  height: 269px;
  overflow: auto;
  resize: none;
  margin-bottom: 0;
}
#form1 label {
  position: relative;
  display: block;
  min-height: 36px;
  width: 270px;
  margin-bottom: 0px;
}
#form1 label.message {
  width: 390px;
}
#form1 .error,
#form1 .empty {
  position: absolute;
  text-align: right;
  display: none;
  font-size: 10px;
  color: #eea450;
  width: 200px;
  top: 2px;
  right: 2px;
}
#form1 .btns {
  padding: 3px 0 16px 0;
  position: relative;
  float: right;
}
#form1 .btns > p {
  padding: 0;
}
#form1 .btns > p a {
  display: inline-block;
}
#form1 .btns > p a:first-child + a {
  margin-left: 19px;
}
#form2 {
  position: relative;
  margin: 10px 0 0;
}
#form2 input,
#form2 textarea,
#form2 .success {
  position: relative;
  outline: none;
}
#form2 span.capt,
#form2 span.capt2 {
  position: relative;
  display: inline-block;
  float: left;
  width: 109px;
  margin-top: 4px;
}
#form2 span.capt2 {
  margin-left: 32px;
  width: 124px;
}
#form2 .success {
  position: absolute;
  padding: 45px 10px;
  z-index: 10;
  text-align: center;
  width: 352px;
  background: #fbeed5;
  border: none;
}
#form2 textarea {
  width: 294px;
  height: 119px;
  overflow: auto;
  resize: none;
  margin-bottom: 0;
}
#form2 label {
  position: relative;
  display: inline-block;
  min-height: 44px;
  width: 375px;
}
#form2 label.message {
  width: 100%;
}
#form2 label.message .error,
#form2 label.message .empty {
  right: 2px;
}
#form2 .error,
#form2 .empty {
  position: absolute;
  text-align: right;
  display: none;
  font-size: 10px;
  color: #eea450;
  width: 200px;
  top: 2px;
  right: 6px;
}
#form2 .btns {
  padding: 5px 0 0 0;
  position: relative;
  float: right;
}
#form2 .btns > p {
  padding: 0;
}
/*end forms*/
/*--- content end ------*/
/*------ footer ------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 113px;
  padding-top: 80px;
  background: url(../img/decor_bottom.png) center top repeat-x;
}
footer p {
  padding-top: 0px;
  font: 700 20.04px 'BenchNine';
  text-transform: uppercase;
  color: #ffffff;
  padding: 41px 0 0 4px;
  white-space: pre;
}
footer p a {
  color: inherit;
}
.socIconsHolder p {
  font: 400 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
  padding-top: 47px;
  white-space: normal;
}
.socIconsHolder .soc_icons {
  position: relative;
  float: right;
  white-space: nowrap;
  margin: 39px 0 0 0;
  padding-left: 13px;
}
.socIconsHolder .soc_icons > li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 31px;
  margin-left: -2px;
}
.socIconsHolder .soc_icons > li > a > img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.socIconsHolder .soc_icons > li > a:hover > img {
  top: -10px;
}
/*--- footer end ------*/
.padding1 {
  padding-bottom: 18px;
}
.padding2 {
  padding-top: 3px;
}
.padding3 {
  padding-bottom: 9px;
}
.padding4 {
  padding-bottom: 49px;
}
.margin1 {
  margin: 1px 15px 0px 0px;
}
.margin2 {
  margin-bottom: 21px;
}
.margin3 {
  margin-left: 13px;
}
.margin4 {
  margin: 35px 0 62px 4px;
}
.margin5 {
  margin: 98px 0 -19px !important;
}
.colorInherit {
  color: inherit;
}
.width1 {
  display: inline-block;
  width: 76px;
}
.block {
  display: block;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: none;
}
/*additional Classes*/
.noBg {
  background: none !important;
  background-color: transparent !important;
}
.noOverflow {
  overflow: visible !important;
}
.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
.noPaddingTop {
  padding-top: 0;
}
.noMarginTop {
  margin-top: 0;
}
.noMarginBottom {
  margin-bottom: 0;
}
.noBottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.clear {
  clear: both;
  line-height: 0;
}
.box {
  overflow: hidden;
}
/*end additional Classes*/
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
