{% extends 'layout.html.twig' %}

{% block content %}
    <div class="splash">
        <div class="carouselHolder">
            <div class="carousel">
                <ul>
                    <li><img src="img/page1_pic1.jpg" alt></li>
                    <li><img src="img/page1_pic2.jpg" alt></li>
                    <li><img src="img/page1_pic3.jpg" alt></li>
                    <li><img src="img/page1_pic4.jpg" alt></li>
                    <li><img src="img/page1_pic5.jpg" alt></li>
                    <li><img src="img/page1_pic6.jpg" alt></li>
                </ul>
            </div>
            <a href="#" class="nextBtn"><span></span></a>
            <a href="#" class="prevBtn"><span></span></a>
            <div class="shadowLeft"></div>
            <div class="shadowRight"></div>
        </div>
    </div>
    <section class="container">
        <div>
            <div class="dynamicContent"></div>
        </div>
    </section>
{% endblock %}